[submodule "nihil-images"]
	path = nihil-images
	url = https://github.com/TheNullPigeons/nihil-images.git
[submodule "tools/glpwnme"]
	path = tools/glpwnme
	url = https://github.com/Orange-Cyberdefense/glpwnme.git
